<div class="post_container">
    <p> <%= link_to 'Post', user_post_path(user_id: post.author_id, id: post.id) %> #<%= post.id %> </p>
    <p> <%= post.text %> </p>
    <p> Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter%> </p>
</div>
