<div class="post">
  <p>Post #<%= @post.id %> by <%=@user.name %>
    <span> Comments: <%= @post.comments_counter%>, Likes: <%= @post.likes_counter%></span>
  </p>
  <p><%= @post.text %></p>
</div>
<div class="comments">
  <% @post.comments.each do |comment| %>
    <div class="comment">
      <p><%= comment.author.name %>: Comment <%= comment.text %></p>
    </div>
  <% end %>
</div>

